/* Start Variables */
:root {
  --main-color: #27ae60;
  --main-background: #ffffff;
  --main-padding-top: 100px;
  --main-padding-bottom: 20px;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 200px;
  padding-right: 200px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}

/* Medium */
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* Medium */
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

/* Large */
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/* Large */
@media (min-width: 1536px) {
  .container {
    width: 1536px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 10px #ddd inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 20px;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  margin: 20px auto;
  text-align: center;
}

@media (max-width: 767px) {
  .main-title {
    width: 90%;
  }
}

.main-title h2 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

.main-title p {
  font-size: 14px;
  color: #777;
}

.main-title h2::after {
  content: "";
  position: absolute;
  right: 0;
  top: 13px;
  width: 77px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 4px;
  z-index: -1;
  transition: 0.5s;
}

.main-title:hover h2::after {
  width: 150px;
}
/* End Global Rules */

/* Start Header */
header {
  background-color: var(--main-background);
  height: 70px;
  max-width: 100%;
  position: sticky;
  color: #000;
  z-index: 1000;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 2px rgba(0 0 0 /20%);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-right: 128px;
  padding-left: 0;
}

@media (max-width: 1024px) {
  header .container {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
  }
}

header .container .nav {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 70px;
}

header .container .nav .toggle-menu {
  color: black;
  font-size: 22px;
  position: relative;
  margin-right: 20px;
  transition: 0.5s;
  display: none;
}

header .container .nav .cancel {
  color: black;
  font-size: 22px;
  position: relative;
  margin-right: 20px;
  transition: 0.5s;
}

@media (max-width: 10000px) {
  header .container .nav .cancel {
    display: none;
  }
}

@media (max-width: 1024px) {
  header .container .nav .toggle-menu {
    display: block;
    transition: 0.5s;
  }
}

@media (max-width: 1024px) {
  header .container .nav .toggle-menu:hover {
    display: none;
  }
  header .container .nav .toggle-menu:hover + .cancel {
    display: block;
  }
  header .container .nav ul {
    transform: translateX(100%);
    transition: transform 0.5s ease; /* أضف هذه الخاصية لتطبيق التأثير بمدة 0.5 ثانية */
  }
  header .container .nav .toggle-menu:hover ~ ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    right: 0;
    width: 105%;
    height: 90vh;
    background-color: var(--main-background);
    z-index: 1000;
    border-top: 1px solid #2c2c2c;
    transform: translateX(0);
    transition: transform 0.5s;
  }

  header .container .nav .toggle-menu:hover ~ ul li {
    padding: 20px;
    /* padding-right: 80px; */
    width: 100%;
    border-bottom: 1px solid #e5e7eb;
  }
  header .container .nav .toggle-menu:hover ~ ul li:first-child {
    margin-top: 15px;
  }
  header .container .nav .toggle-menu:hover ~ ul .logo-media {
    margin: 0 auto;
  }
  header .container .nav .toggle-menu:hover ~ ul .logo-media img {
    display: block;
    width: 50px;
    margin: 20px auto;
  }
  header .container .nav .toggle-menu:hover ~ ul .text {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

header .container .nav .logo-media img {
  width: 30px;
  opacity: 50%;
}

@media (min-width: 1024px) {
  header .container .nav .logo-media {
    display: none;
  }

  header .container .nav ul .text {
    display: none;
  }
}

header .container .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
  line-height: 1.5;
  margin-left: 16px;
}

header .container .logo img {
  min-width: 30px;
  height: 30px;
}

header .container .logo a h2 {
  display: block;
  color: #2c2c2c;
  font-weight: normal;
}

@media (max-width: 676px) {
  header .container .logo a h2 {
    display: none;
  }
}

header .container .nav ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1024px) {
  header .container .nav ul {
    display: none;
  }
}

header .container .nav ul li {
  color: #515151;
  min-width: fit-content;
}

header .container .nav ul li a {
  color: #515151;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 2px;
}

header .container .nav ul li a:hover {
  color: var(--main-color);
}

header .container .nav ul li .active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

@media (max-width: 1024px) {
  header .container .nav ul li .active {
    border-bottom: none;
  }
}

header .container .info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 128px;
}

@media (max-width: 992px) {
  header .container .info {
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  header .container .info {
    padding-left: 10px;
  }
}

header .container .info .create,
header .container .info .login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: var(--main-color);
  border-radius: 8px;
  cursor: pointer;
  line-height: 20px;
  font-size: 9px;
  padding: 11px 14px;
}

@media (max-width: 1024px) {
  header .container .info .create {
    display: none;
  }
}

header .container .info .create p,
header .container .info .create svg,
header .container .info .login p,
header .container .info .login svg {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 10px;
}
/* End Header */

/* Start Landing */

.landing {
  min-height: 90vh;
  background-color: var(--main-background);
  background-image: url(../image/landing.jpeg);
  border-bottom-left-radius: 200px;
  background-size: cover;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.landing .text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 128px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-direction: column;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .landing .text {
    padding-right: 70px;
  }
}

@media (max-width: 992px) {
  .landing .text {
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .landing .text {
    width: 90%;
    padding-right: 10px;
  }
}

.landing .content {
  max-width: 400px;
}

@media (max-width: 992px) {
  .landing .content {
    max-width: 500px;
  }
}

.landing .content h2 {
  color: white;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .landing .content h2 {
    line-height: 1.3;
  }
}

.landing .content p {
  color: white;
  line-height: 1.4;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 12px;
}

@media (max-width: 767px) {
  .landing .content p {
    line-height: 1.3;
    margin-top: 20px;
  }
}

.landing .info {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 767px) {
  .landing .info {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .landing .info {
    max-width: 500px;
  }
}

.landing .info .but1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: var(--main-color);
}

@media (max-width: 767px) {
  .landing .info .but1 {
    gap: 5px;
    /* padding: 10px 20px; */
    width: 50% !important;
  }
}

@media (max-width: 992px) {
  .landing .info .but1 {
    width: 220px;
    justify-content: center;
  }
}

.landing .info .but2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: var(--main-color);
}

@media (max-width: 767px) {
  .landing .info .but2 {
    gap: 5px;
    /* padding: 10px 20px; */
    min-width: 50%;
  }
}

@media (max-width: 992px) {
  .landing .info .but2 {
    /* min-width: 220px; */
    justify-content: center;
  }
}

.landing .go-down {
  color: var(--main-background);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.landing .go-down svg {
  animation: bouncing 1s infinite;
}

@keyframes bouncing {
  0%,
  100% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(10px);
  }
}
/* End Landing */

/* Start Sec1 */

.sec-1 {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.sec-1 .container {
  padding: 50px 128px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.sec-1 .container .card {
  background: #ffffff;
  box-shadow: 3px 3px 6px #f0f0f0, -5px -16px 88px #ffffff;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s, box-shadow 0.5s;
  cursor: pointer;
}

.sec-1 .card:hover {
  /* transform: translateY(-10px); */
  margin: 0;
  margin-top: -10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  border: 1px solid var(--main-color);
}

.sec-1 .card svg {
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
}

.sec-1 .card .content {
  /* padding: 20px; */
  text-align: center;
  margin-bottom: 20px;
}

.sec-1 .card .content p {
  line-height: 1.5;
  color: #777;
}
.sec-1 .card .content h3 {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 30px;
}

.sec-1 .card .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* End Sec1 */

.sec-2 {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.sec-2 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.sec-2 .card {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  width: 100%;
  cursor: pointer;
}

.sec-2 .card:hover {
  border: 1px solid var(--main-color);
}

.sec-2 .card img {
  width: 100%;
  max-width: 100%;
  height: 35%;
}

.sec-2 .card .content {
  padding: 20px;
}

.sec-2 .card .content svg {
  color: #ffc312;
}

.sec-2 .card .content h3 {
  margin: 0;
  margin-bottom: 10px;
}

.sec-2 .card .content p {
  margin: 20px 0 0 0;
  line-height: 1.5;
  color: #777;
}

.sec-2 .card .content p:first-child {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.sec-2 .card .content p:last-child {
  font-size: 13px;
}

.sec-2 .card svg,
.sec-2 .card span {
  font-size: 14px;
}

.sec-2 .card span:last-of-type {
  color: #777;
}

.sec-2 .card .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.sec-2 .card .info span {
  margin-left: 20px;
}

.sec-2 .card .info p {
  margin-right: 5px;
}

.sec-2 .card .info span,
.sec-2 .card .info p {
  color: #777;
}

@media (max-width: 1300px) {
  .sec-2 .container {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: center;
    padding: 0 50px;
  }
  .sec-2 .card:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .sec-2 .container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    justify-content: center;
    padding: 0 100px;
  }
  .sec-2 .card:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 500px) {
  .sec-2 .container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    justify-content: center;
  }
  .sec-2 .card:nth-child(n + 2) {
    display: none;
  }
}

/* Start Section 3 */

.sec-3 {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.sec-3 .main-title {
  text-align: center;
}

.sec-3 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  position: relative;
}

.sec-3 .container .card {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  width: 100%;
  position: relative;
  padding: 20px 10px;
  text-align: center;
}

.sec-3 .container .card img {
  width: 25%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 0.5px solid rgb(177, 172, 172);
  margin-bottom: 20px;
}

.sec-3 .container .card img + svg {
  position: absolute;
  top: 20px;
  left: 38%;
  color: var(--main-color);
}

.sec-3 .container .card .content p {
  margin-bottom: 10px;
}

.sec-3 .container .card .content p:last-of-type {
  color: #777;
}

.sec-3 .container .card .content .first {
  color: #ffc312;
}

.sec-3 .container .card .content span:nth-of-type(2) {
  color: #777;
}

.sec-3 .container .card .content .college {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0 20px;
}

.sec-3 .container .card .content .college .col1 {
  color: #777;
}

.sec-3 .container .card .content .college .col2 {
  color: #777;
}

.sec-3 .container .card .content .view {
  background-color: #f0fdf4;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  /* width: 75%; */
  height: 50px;
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sec-3 .all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  cursor: pointer;
}

.sec-3 .all .go-down {
  color: black;
  transform: translateX(-50%);
  transition: 0.3s;
}

.sec-3 .all .go-down svg {
  animation: bounc 1s infinite;
}

@keyframes bounc {
  0%,
  100% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(10px);
  }
}

@media (min-width: 1024px) {
  .sec-3 .container {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    justify-content: center;
    padding: 0 150px;
  }
}

@media (max-width: 1023px) {
  .sec-3 .container {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    justify-content: center;
    padding: 0 100px;
  }
}

@media (max-width: 767px) {
  .sec-3 .container {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    justify-content: center;
    padding: 0 20px;
  }
}

/* End Section 3 */

.sec-4 {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.sec-4 .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .sec-4 .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}

.sec-4 .main-title {
  text-align: center;
}

.sec-4 .main-title h2::after {
  display: none;
}

.sec-4 .main-title p {
  font-size: 12px;
  color: #777;
}

@media (max-width: 600px) {
  .sec-4 .main-title p {
    width: 80%;
  }
}

.sec-4 .sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

@media (max-width: 767px) {
  .sec-4 .sub {
    width: 100%;
  }
}

.sec-4 .sub form {
  padding-right: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
}

.sec-4 .sub form .first {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.sec-4 .sub form input {
  width: 400%;
  height: 50px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #f9fafb;
}

/* @media (max-width: 600px) {
  .sec-4 .sub form input {
    width: 300px;
  }
} */

.sec-4 .sub form input[placeholder="example@gmail.com"] {
  padding-right: 40px;
}

.sec-4 .sub .subs {
  height: 51px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .sec-4 .sub .subs {
  }
}

.sec-4 .sub .subs svg {
  display: none;
}

@media (max-width: 768px) {
  .sec-4 .sub .subs p {
    display: none;
  }

  .sec-4 .sub .subs svg {
    display: block;
  }
}
/* End Section 4 */

/* Start Footer */
.sec-4 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #777;
  width: 80%;
  margin-top: 50px;
  padding-top: calc(var(--main-padding-top) / 2);
  padding-bottom: calc(var(--main-padding-top) / 2);
  position: relative;
}

@media (max-width: 1024px) {
  .sec-4 .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    padding: 20px 0;
  }
}

.sec-4 .container .cat {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: -100px;
}

@media (max-width: 1024px) {
  .sec-4 .container .cat {
    display: flex;
    margin: 0;
  }
}

.sec-4 .container .cat .info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

@media (max-width: 1024px) {
  .sec-4 .container .cat .info {
    flex-direction: column;
    text-align: center;
  }
}

.sec-4 .container .cat .info .text h3 {
  font-weight: normal;
  margin-bottom: 10px;
}

.sec-4 .container .cat .info .text p {
  color: #777;
  font-size: 14px;
}

.sec-4 .container .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-left: -130px;
}

@media (max-width: 1024px) {
  .sec-4 .container .social {
    margin: 0;
    text-align: center;
  }
}

.sec-4 .container .social .logo img {
  width: 45px;
  display: block;
  margin-bottom: 10px;
}

.sec-4 .container .social .logo p {
  text-align: center;
}

.sec-4 .container .social .icon {
  border-radius: 50px;
  display: flex;
  gap: 10px;
}

.sec-4 .container .social .icon i {
  font-size: 20px;
  margin-left: 10px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
  padding: 10px;
}
/* End Footer */

/* Start Landing 2 */
.landing2 {
  background-image: url(../image/landing2.jpeg);
  background-size: cover;
  border-radius: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  background-attachment: fixed;
}
/* End Landing 2 */

/* Start Landing 3 */
.landing3 {
  background-image: url(../image/landing3.jpeg);
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}
/* End Landing 3 */

/* start section in jobs */
.sec {
  padding-top: calc(var(--main-padding-top) - 50px);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.sec .container {
  padding: 0;
  width: 80%;
}

.sec .container span:first-child {
  color: #777;
}

.sec .container .content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid #dad3d3;
  padding: 20px;
  cursor: pointer;
}

.sec .container .content:not(:first-of-type) {
  margin-top: 10px;
}

.sec .container .content:hover {
  background-color: #f7fdf8;
}

.sec .container .content a {
  position: absolute;
  top: 15px;
  left: 10px;
  border: 1px solid #777;
  border-radius: 50%;
}

.sec .container .content a svg {
  color: #000;
  display: block;
  margin: 8px;
}

.sec .container .content a svg:hover {
  color: red;
}

.sec .container .content .jobs {
  width: 80%;
}

.sec .container .content .jobs h2 {
  color: var(--main-color);
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sec .container .content .jobs h2:hover {
  text-decoration-line: underline;
}

@media (min-width: 768px) {
  .sec .container .content .jobs h2:hover {
    width: fit-content;
  }
}

.sec .container .content .info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .sec .container .content .info {
    gap: 5px;
  }
}

.sec .container .content .info .name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sec .container .content .info .name span {
  color: #777;
  font-size: 14px;
}

.sec .container .content .info .time {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sec .container .content .info .time span {
  color: #777;
  font-size: 14px;
}

.sec .container .content .info .offer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sec .container .content .info .offer span {
  color: #777;
  font-size: 14px;
}

.sec .container .content .text {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
  line-height: 1.6;
}

.sec .container .content .text p {
  width: 90%;
}

@media (max-width: 767px) {
  .sec .container .content .text p {
    width: 100%;
    font-size: 12px;
  }
}

.sec .container .content .but {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--main-color);
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sec .container .num {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  gap: 10px;
}

@media (max-width: 768px) {
  .sec .container .num {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
}

.sec .container .num svg:first-child {
  color: #777;
  cursor: no-drop;
}

.sec .container .num button {
  outline: none;
  border: 1px solid #e5dddd;
  border-radius: 50%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  font-size: 14px;
  color: #777;
  cursor: pointer;
}

.sec .container .num .active {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
}

.sec .container .num button:not(:first-of-type):hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.sec .container .num svg:last-child {
  cursor: pointer;
}
/* End section in jobs */
